.banner{
	background-image: url('https://source.unsplash.com/random');
	height: 80vh;
	background-size: cover;
}

.banner-flex{
	height: 100%;
	display:flex;
	align-items: center;

}

.banner-content{
	height:70%;
	color:white;
	background-color: grey;
}

.white-banner{
	height:40%;
	padding:10px;
	background-color: white;
}