.bbc-btn {
	background-color: #CE3F21;
	color: white;
	padding: 10px 25px;
	border-radius: 10px;
	font-family: 'Playfair Display', serif;
}

.guardian-bttn {
	background-color: #082390;
	color: white;
	padding: 10px 25px;
	border-radius: 10px;
	font-family: 'Helvetica';
}


.forbes-bttn {
	background-color: black;
	color: white;
	padding: 10px 25px;
	border-radius: 10px;
	font-family: 'Merriweather';
}

.btn-info{
	background-color: white;
	color:black;
	padding: 15px 25px;
	border-radius: 20px;
	font-family: Ariel;
}